{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form--required',
    required ? 'form--required form-item__label--required',
    'form-item__label',
  ]
%}
  {% set color_theme = "one" %}

  {# Set color slots based on label title #}
  {% if "Base" in title %}
    {% set color_theme = "one" %}
    {% set color_theme_2 = "--color-gray-100" %}
  {% endif %}

  {% if "Action" in title %}
    {% set color_theme = "five" %}
    {% set color_theme_2 = "--color-basic-white" %}
  {% endif %}

  {% if "Highlight" in title %}
    {% set color_theme = "three" %}
    {% set color_theme_2 = "--color-gray-100" %}
  {% endif %}

  {% if "Subtle" in title %}
    {% set color_theme = "three" %}
    {% set color_theme_2 = "--color-gray-800" %}
  {% endif %}

  {% if "Deep" in title %}
    {% set color_theme = "three" %}
    {% set color_theme_2 = "--global-themes-#{ site_global__theme }-colors-slot-one" %}
  {% endif %}

{% if title is not empty or required -%}

  <label{{ attributes.addClass(classes) }}>
    {{ title }}

    <span class="colors">
      <span class="color" style="background: var(--global-themes-{{ site_global__theme }}-colors-slot-{{color_theme}});"></span>
      <span class="color" style="background: var({{color_theme_2}});"></span>
    </span>
  </label>
{%- endif %}
