<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% embed "@molecules/quick-links/yds-quick-links.twig" with {
    quick_links__variation: content.field_style_variation.0['#markup'],
    quick_links__heading: content.field_heading.0['#text'],
    quick_links__description: content.field_text.0['#text'],
    quick_links__image: content.field_image.0,
    quick_links__links: content.field_links.0,
  } %}
    {% block quick_links__links %}
      {{ content.field_links }}
    {% endblock %}
    {% block quick_links__image %}
      {{ content.field_image }}
    {% endblock %}
  {% endembed %}
</div>
