{{ attach_library('atomic/accordion') }}

<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% embed "@molecules/accordion/accordion.twig" with {
    accordion__heading: content.field_heading.0,
  } %}
    {% block accordion__items %}
      {{ content.field_accordion_item }}
    {% endblock %}
  {% endembed %}
</div>
