{% if content %}
  <div {{ attributes.addClass('yds-two-column').setAttribute('data-component-width', 'max').setAttribute('data-embedded-components', '') }}>
    <div class='yds-two-column__inner'>
      {% if content.primary %}
        <div {{ region_attributes.primary.addClass('yds-two-column__primary') }}>
          {{ content.primary }}
        </div>
      {% endif %}
      {% if content.secondary %}
        <div {{ region_attributes.secondary.addClass('yds-two-column__secondary') }}>
          {{ content.secondary }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
