{#
# In this file, we're checking `if directory` in order to determine if the
# active environment is a Drupal site. We need to do this because Drupal's
# drag-and-drop interface needs specific attributes on the wrapper elements
# that would not make sense, or even cause errors in environments like
# Storybook.
#}

{% set two_column__base_class = 'yds-two-column' %}

<div {{ attributes.addClass(two_column__base_class) }} data-component-width='max' data-embedded-components>
    <div {{ attributes.addClass("#{two_column__base_class}__inner") }}>
        {% if directory %}
        <div {{ region_attributes.primary.addClass('yds-two-column__primary') }}>
            {% else %}
            <div {{ attributes.addClass("#{two_column__base_class}__primary") }}>
                {% endif %}
                {% block two_column__primary %}
                    {{ content.primary }}
                {% endblock %}
            </div>
            {% if directory %}
            <div {{ region_attributes.secondary.addClass('yds-two-column__secondary') }}>
                {% else %}
                <div {{ attributes.addClass("#{two_column__base_class}__secondary") }}>
                    {% endif %}
                    {% block two_column__secondary %}
                        {{ content.secondary }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>