{% if social_links.facebook %}
  <a href="{{ social_links.facebook }}">Facebook</a>
{% endif %}
{% if social_links.instagram %}
  <a href="{{ social_links.instagram }}">Instagram</a>
{% endif %}
{% if social_links.twitter %}
  <a href="{{ social_links.twitter }}">Twitter</a>
{% endif %}
{% if social_links.youtube %}
  <a href="{{ social_links.youtube }}">YouTube</a>
{% endif %}
{% if social_links.weibo %}
  <a href="{{ social_links.weibo }}">Weibo</a>
{% endif %}
