{# Set variable for all the links so we can reference them in a block below  #}
{% set link_group__base_class = 'link-group' %}

{% set footer_link_columns %}
  {% if footer_links_col_1 %}
    <ul {{ bem('links-column', ['one'], link_group__base_class) }}>
    {% for link in footer_links_col_1 %}
      {% include "@molecules/link-group/_yds-link-group--links.twig" with {
        link_group__link__url: link.link_url,
        link_group__link__content: link.link_title,
      }%}
    {% endfor %}
    </ul>
  {% endif %}
  {% if footer_links_col_2 %}
    <ul {{ bem('links-column', ['two'], link_group__base_class) }}>
    {% for link in footer_links_col_2 %}
      {% include "@molecules/link-group/_yds-link-group--links.twig" with {
        link_group__link__url: link.link_url,
        link_group__link__content: link.link_title,
      }%}
    {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{#TODO: set site_footer__variation to getThemeSetting('footer_variation')#}
{% embed "@organisms/site-footer/yds-site-footer.twig" with {
  site_footer__border_thickness: '8',
  site_footer__theme: getThemeSetting('footer_theme'),
  site_footer__variation: 'basic',
}%}
  {% if site_footer__variation == 'mega'%}
    {% block site_footer__logo %}
      {% if footer_logos.0.url %}
        <a href="{{ footer_logos.0.url }}">
      {% endif %}
      {{ footer_logos.0.logo }}
      {% if footer_logos.0.url %}
        </a>
      {% endif %}
    {% endblock %}

    {% block site_footer__logo_2 %}
      {% if footer_logos.1.url %}
        <a href="{{ footer_logos.1.url }}">
      {% endif %}
      {{ footer_logos.1.logo }}
      {% if footer_logos.1.url %}
        </a>
      {% endif %}
    {% endblock %}

    {% block site_footer__logo_3 %}
      {% if footer_logos.2.url %}
        <a href="{{ footer_logos.2.url }}">
      {% endif %}
      {{ footer_logos.2.logo }}
      {% if footer_logos.2.url %}
        </a>
      {% endif %}
    {% endblock %}

    {% block site_footer__logo_4 %}
      {% if footer_logos.3.url %}
        <a href="{{ footer_logos.3.url }}">
      {% endif %}
      {{ footer_logos.3.logo }}
      {% if footer_logos.3.url %}
        </a>
      {% endif %}
    {% endblock %}

    {% block site_footer__yale_logo %}
      {{ school_logo }}
    {% endblock %}

    {% block site_footer__content %}
      {{ footer_text }}
    {% endblock %}
    
    {% block site_footer__two_columns %}
      {% embed "@molecules/link-group/yds-link-group.twig" with {
        link_group__heading_one: footer_links_col_1_heading,
        link_group__heading_two: footer_links_col_2_heading,
      } %}
        {% block link_group__links %}
          {{footer_link_columns}}
        {% endblock %}
      {% endembed %}
      {{ drupal_block('social_links_block') }}
    {% endblock %}
  {% else %}
    {% block site_footer__text %}{% endblock %}
    {% block site_footer__columns %}{% endblock %}
    {% block site_footer__social %}
      {{ drupal_block('social_links_block') }}
    {% endblock %}
  {% endif %}
{% endembed %}

