{% if facebook %}
  <a href="{{ facebook }}">Facebook</a>
{% endif %}
{% if instagram %}
  <a href="{{ instagram }}">Instagram</a>
{% endif %}
{% if twitter %}
  <a href="{{ twitter }}">Twitter</a>
{% endif %}
{% if youtube %}
  <a href="{{ youtube }}">YouTube</a>
{% endif %}
{% if weibo %}
  <a href="{{ weibo }}">Weibo</a>
{% endif %}
