{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set layout__base_class = layout__base_class|default('yds-two-column') %}

{% set layout__attributes = attributes|merge({
	'class': bem(layout__base_class, layout__modifiers, layout__blockname),
  'data-component-padding': settings['padding']|default('default'),
  'data-component-width': layout__width|default('site'),
	'data-embedded-components': 'true',
}) %}

{% if content %}
	<div {{ add_attributes(layout__attributes) }}>
		<div {{ bem('inner', [], layout__base_class)}}>
			{% if content.content %}
				<div {{ region_attributes.content.addClass('yds-two-column__primary') }}>
					{{ content.content }}
				</div>
			{% endif %}
			{% if content.sidebar %}
				<div {{ region_attributes.sidebar.addClass('yds-two-column__secondary') }}>
					{{ content.sidebar }}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
