{{ dd() }}

<div class="alert-wrapper">
  Available fields are:<br/>
  Alert id: {{ id }}<br/>
  Alert status: {{ status }}<br/>
  Alert type: {{ type }}<br/>
  Alert headline: {{ headline }}<br/>
  Alert message: {{ message }}<br/>
  Alert link title: {{ link_title }}<br/>
  Alert link url: {{ link_url }}
</div>

{% include "@molecules/alert/alert.twig" with {
  alert__id: id,
  alert__type: type,
  alert__heading: headline,
  alert__content: message,
  alert__link__content: link_title,
  alert__link__url: link_url,
} %}
