{% set breakpoints__base_class = 'cl-table' %}
{% set breakpoint_names = {
  's': 'Small',
  'm': 'Medium',
  'l': 'Large',
  'xl': 'X-Large',
  '2xl': 'XX-Large',
  'max-width': 'Max-Width',
} %}

<table {{ bem(breakpoints__base_class) }}>
  <tr>
    <th {{ bem('header', [], breakpoints__base_class) }}>Breakpoint</th>
    <th {{ bem('header', [], breakpoints__base_class) }}>(SCSS) Variable</th>
    <th {{ bem('header', [], breakpoints__base_class) }}>Width</th>
  </tr>
  {% for breakpoint, value in _context.breakpoints %}
    <tr>
      {% for breakpoint_short, breakpoint_name in breakpoint_names %}
        {% if breakpoint_short == breakpoint %}
          <td>{{ breakpoint_name }}</td>
        {% endif %}
      {% endfor %}
      <td>$break-{{ breakpoint }}</td>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
</table>
