{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 * - main_content_id: The ID of the main content area.
 * - secondary_nav_present: A flag indicating if the secondary navigation is present.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}

    {% set main_content_id = main_content_id|default('#main-content') %}
    {% set secondary_nav_present = secondary_nav_present |default(FALSE) %}

    {% if secondary_nav_present %}
      {% include "@molecules/link-skip/yds-link-skip.twig" with {
        link_skip__content: 'Skip to secondary menu'|t ,
        link_skip__url: '#block-atomic-custombooknavigation',
        link_skip__extra_class: 'visually-hidden focusable',
      }%}
    {% endif %}

    {#
      We must dynamically set the link_skip__url based on whether the
      secondar nav exists or not.

      We default to it not being present, which at the time of this
      writing is #main-content.  If a secondary nav is present, we
      let the link skip to below the secondary nav.

      See the following for more information:
        components/_settings/config.css (for link jupming adjustments)
        templates/navigation/book-tree.html.twig (for the secondary nav bypass div)
    #}
    {% include "@molecules/link-skip/yds-link-skip.twig" with {
      link_skip__content: 'Skip to main content'|t ,
      link_skip__url: main_content_id,
      link_skip__extra_class: 'visually-hidden focusable',
    }%}

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
