{#
/**
 * @file
 * Theme override to display a file form widget.
 *
 * Available variables:
 * - main_items: Main render elements of the file or image widget:
 *   file name, upload input, upload and remove buttons and hidden inputs.
 * - data: Other render elements of the image widget like preview, alt or title,
 *   or the description input and the display checkbox of the file widget.
 * - display: A flag indicating whether the display field is visible.
 * - attributes: HTML attributes for the containing element.
 * - multiple: Whether this widget is the part of a multi-value file widget or
 *   not.
 * - upload: Whether the file upload input is displayed or not.
 * - has_value: true if the widget already contains a file.
 * - has_meta: true when the display checkbox or the description, alt or title
 *   inputs are enabled and at least one of them is visible.
 *
 * @see template_preprocess_file_managed_file()
 * @see claro_preprocess_file_managed_file()
 */
#}

{%
  set classes = [
    'js-form-managed-file',
    'form-managed-file',
    multiple ? 'is-multiple' : 'is-single',
    upload ? 'has-upload' : 'no-upload',
    has_value ? 'has-value' : 'no-value',
    has_meta ? 'has-meta' : 'no-meta',
  ]
%}

<div{{ attributes.addClass(classes).removeClass('clearfix') }}>
  <div class="form-managed-file__main">
    {{ main_items.filename }}
    {{ main_items|without('filename') }}
  </div>

  {% if has_meta or data.preview or fallback_image %}
  {% set tab_preview %}
    {% if data.preview %}
      {{ data.preview }}
    {% else %}
      <img src="/profiles/custom/yalesites_profile/modules/custom/ys_core/images/favicons/yale-logo.png" height="16" width="16" alt="Yale Y logo" />
    {% endif %}
  {% endset %}
  {{ attach_library('ys_admin_theme/favicon_preview') }}
  <div class="form-managed-file__meta-wrapper">
    <div class="form-managed-file__meta">
      {% if data.preview or fallback_image %}
        <div class="form-managed-file__image-preview__larger">
          {% if data['fids']['#value'] %}
            {{ drupal_image(data['fids']['#value'][0], 'media_library', {alt: 'Currently selected favicon'|t}) }}
          {% endif %}
          {% if fallback_image %}
            <img src="/profiles/custom/yalesites_profile/modules/custom/ys_core/images/favicons/yale-logo.png" height="180" width="180" alt="Yale Y logo" />
          {% endif %}
        </div>
        <div class="form-managed-file__image-preview">
          <div class="image-preview__img-wrapper">
            <div class="tab-preview-container">
              <ul class="tabs-preview clearfix" >
                <li>
                  <a>Tab One</a>
                </li>
                <li class="active">
                  <a>{{ tab_preview }} Page Title | {{ site_name }}</a>
                </li>
                <li>
                  <a>Tab Three</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      {% if data.description or display or data.alt or data.title %}
        <div class="form-managed-file__meta-items">
          {{ data.description }}
          {% if display %}
            {{ data.display }}
          {% endif %}
          {{ data.alt }}
          {{ data.title }}
        </div>
      {% endif %}
    </div>
  </div>
  {% else %}
  We don't have an custom
  {% endif %}

  {# Every third-party addition will be rendered here. #}
  {{ data|without('preview', 'alt', 'title', 'description', 'display') }}
</div>
